* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0d0e0f;
}

body,
input,
textarea,
select,
button {
  color: white;
  font: 400 1rem "Roboto", sans-serif;
}

button {
  /* cursor: pointer; */
  display: block;
  width: 100%;
  border: none;
  background-color: #04aa6d;
  color: white;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

button:hover {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h1 {
  /* position: absolute; */
  text-align: center;
  /* top: 10px;
  right: 20px; */
}
main {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox input {
  border-radius: 8px 0 0 8px;
  border: 0;
  outline: none;
  height: 36px;
  width: auto;
  padding: 4px 16px;
  background-color: white;
  color: #000;
}
.welcome {
  display: block;
  width: 100%;
  border: none;
  background-color: #04aa6d;
  color: white;
  padding: 14px 28px;
  font-size: 30px;
  text-align: center;
}

.searchBox button {
  border-radius: 0 8px 8px 0;
  border: 0;
  height: 36px;
  width: auto;
  padding: 4px 16px;
  background-color: white;
}

.artistBox {
  /* display: flex; */
  margin-top: 2rem;
  justify-content: center;
}

.artistBox img {
  width: 200px;
}

.artistBox p {
  text-align: center;
  margin-top: 1rem;
  font-family: "Luminari", "Blippo", fantasy;
}

.artistBox .artistInfos {
  padding: 2rem;
}

/* .topBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: auto;
  background-color: white;
} */

/* .topBox input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 36px;
  background-color: #00ff6e;
} */

.button1 {
  border-radius: 8px;
  outline: none;
  height: 36px;
  width: auto;
  padding: 4px 16px;
  background-color: #04aa6d;
  color: white;
}
.button2 {
  border-radius: 8px;
  outline: none;
  height: 36px;
  width: auto;
  padding: 4px 16px;
  background-color: #04aa6d;
  color: white;
}
.logout {
  border-radius: 8px;
  outline: none;
  height: 36px;
  width: auto;
  padding: 4px 16px;
  background-color: #04aa6d;
  color: white;
}
/* .button1:hover {
  color: black;
} */
body {
  background: #2c3e50;
  color: #ecf0f1;
  line-height: 1.618em;
}
.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
  margin: 3rem 0;
  background: #1abc9c;
  height: 14.75rem;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab-label {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1abc9c;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab-label:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  height: 12rem;
  position: absolute;
  z-index: 1;
  top: 2.75em;
  left: 0;
  padding: 1.618rem;
  background: #fff;
  color: #2c3e50;
  border-bottom: 0.25rem solid #bdc3c7;
  opacity: 0;
  transition: all 0.35s;
}
.tab-switch:checked + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}
