body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  background-color: #0d0e0f;
}

input,
textarea,
select
/* button */ {
  color: white;
  font: 400 1rem "Roboto", sans-serif;
}
p {
  margin: 5px;
}

.spotify {
  display: block;
  width: 100%;
  border: none;
  background-color: #04aa6d;
  color: white;
  padding: 14px 28px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
}

.spotify:hover {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h1 {
  color: white;
  text-align: center;
}
main {
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBox input {
  border-radius: 8px 0 0 8px;
  border: 0;
  outline: none;
  height: 36px;
  width: auto;
  padding: 4px 16px;
  background-color: white;
  color: #000;
}
.welcome {
  /* position: absolute;
  margin: 77px; */
  display: flex;
  flex-direction: row;
  width: 100%;
  border: none;
  background-color: #04aa6d;
  color: white;
  padding: 14px 28px;
  font-size: 30px;
  text-align: center;
}
#homePhoto {
  position: absolute;
  width: 50px;
  /* height: auto;
  display: flex; */
  /* float: right; */
  margin: 0px;
  /* margin-bottom: 10px;
  padding-bottom: 10px; */
  /* left: 150px; */
  /* justify-content: right; */
  top: 8px;
  right: 50px;
}

.search {
  border-radius: 0 8px 8px 0;
  font-size: 30px;
  border: 0;
  height: 44px;
  width: auto;
  padding: 4px 16px;
  background-color: white;
}
.search:hover {
  cursor: pointer;
}

.artistBox {
  /* margin-top: 200px;
  justify-content: center; 
  height: 2000px;
  width: 100%; */
  /* display: flex; */
  text-align: center;
  margin-top: 100px;
  margin-bottom: 70px;
}

.artistBox img {
  width: 200px;
}

.artistBox p {
  text-align: center;
  margin-top: 1rem;
  color: white;
}

.artistBox .artistInfo {
  /* padding: 1rem; */
  /* height: 100px; */
  width: 200px;
}
.resultBox {
  /* display: flex; */
  /* flex: 1; */
  float: left;
  width: 200px;
  padding: 10px;
  margin: 20px;
  height: 350px;

  /* justify-content: space-between; */
  /* margin-left: 0px;
  margin-right: 0px; */
}
.button1 {
  border-radius: 8px;
  font-size: 25px;
  border: none;
  outline: none;
  height: 36px;
  width: auto;
  padding: 4px 16px;
  background-color: #04aa6d;
  color: white;
}
.button1:hover {
  cursor: pointer;
  color: black;
}
.button2 {
  border-radius: 8px;
  outline: none;
  height: 36px;
  width: auto;
  padding: 4px 16px;
  background-color: #04aa6d;
  color: white;
}
.logout {
  border-radius: 8px;
  outline: none;
  height: 36px;
  width: auto;
  padding: 4px 16px;
  background-color: #04aa6d;
  color: white;
}
.formButton {
  border: none;
  color: #000;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  font: 400 1rem "Roboto", sans-serif;
  /* background-color: transparent; */
  /* border: 1px; */
}
.formButton:hover {
  transition: 0.2s;
  background-color: rgb(50, 50, 50);
  color: white;
  cursor: pointer;
}
#googlelogo {
  float: left;
  margin-right: 7px;
  width: 20px;
}

[data-tab-content] {
  display: none;
}
.active[data-tab-content] {
  display: block;
}
.tab.active {
  background-color: black;
}
/* body {
  background: #2c3e50;
  color: #ecf0f1;
  line-height: 1.618em;
} */
.wrapper {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
}
.tabs {
  position: relative;
}
.tabs::before,
.tabs::after {
  content: "";
  display: table;
}
.tabs::after {
  clear: both;
}
.tab {
  float: left;
}
.tab-switch {
  display: none;
}
.tab {
  position: relative;
  display: block;
  line-height: 2.75em;
  height: 3em;
  padding: 0 1.618em;
  background: #1a1fbc;
  border-right: 0.125rem solid #16a085;
  color: #fff;
  cursor: pointer;
  top: 0;
  transition: all 0.25s;
}
.tab:hover {
  top: -0.25rem;
  transition: top 0.25s;
}
.tab-content {
  /* height: 12rem; */
  position: absolute;
  z-index: 1;
  padding: 1.618rem;
  color: #0e7ceb;
  opacity: 1;
  transition: all 0.35s;
}
.active + .tab-label {
  background: #fff;
  color: #2c3e50;
  border-bottom: 0;
  border-right: 0.125rem solid #fff;
  transition: all 0.35s;
  z-index: 1;
  top: -0.0625rem;
}
.tab-switch:checked + label + .tab-content {
  z-index: 2;
  opacity: 1;
  transition: all 0.35s;
}
.switchpage {
  margin: 10px;
  font-size: 15px;
  background: none;
  color: black;
  text-decoration: underline;
  border: none;
}
.switchpage:hover {
  cursor: pointer;
  color: rgb(48, 47, 47);
}
.UserRegister {
  justify-content: center;
  color: black;
  text-align: center;
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(79deg, #80ff72, #7ee8fa);
}
.auth-form-container {
  position: absolute;
  background-color: #eeeaea;
  justify-content: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  width: 400px;
  height: 600px;
  top: 10%;
  left: 20%;
  /* background-color: transparent; */
  box-sizing: content-box;
}
.login-form,
.register-form {
  justify-content: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  box-sizing: content-box;
}
/* .formButton {
  border: none;
  color: #000;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
} */
label {
  background-color: transparent;
  width: 100%;
  text-align: left;
}
input {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}
p {
  background-color: transparent;
}
.redtext {
  color: red;
}
.musicmatelogo {
  position: absolute;
  right: 15%;
  display: flex;
  float: right;
  width: 500px;
  top: 15%;
}
.different {
  padding: 0px 0 50px;
  color: black;
  background-color: transparent;
  width: 90%;
}
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #04aa6d;
  color: #fff;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #afe1af 0%,
    #1db954 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
